/* Estiliza o corpo da página */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #023472;
    color: #f6f4f4;
}

/* Estiliza o contêiner do formulário */
.container {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #f7f8f8; /* Altera o fundo para uma cor clara para contraste */
    color: #023472;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais pronunciada */
}

/* Estiliza o título */
h3 {
    margin: 0 0 20px 0;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
    color: #023472; /* Mantém a cor do texto do título */
}

/* Estiliza o logo */
.imgLogo {
    width: 100px; /* Diminui o tamanho do logo */
    height: auto;
    margin: 0 auto 20px;
    display: block;
    opacity: 1;
    background-color: #023472; /* Altera o fundo para uma cor clara para contraste */
}

/* Estiliza o formulário */
form {
    margin: 0;
}

/* Estiliza a etiqueta do campo */
label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #023472;
}

/* Estiliza os campos de entrada de texto */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #fdfdfd; /* Altera a cor de fundo dos inputs */
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #023472; /* Muda a cor da borda ao focar */
    outline: none;
}

/* Estiliza o botão de envio */
.btn-submit {
    padding: 15px;
    background-color: #023472;
    color: #f7f8f8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    font-size: 16px;
}

.btn-submit:hover {
    background-color: #0f0f0f;
}

.btn-submit:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estiliza o campo select */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #fdfdfd; /* Altera a cor de fundo do select */
    transition: border-color 0.3s ease;
}

select:focus {
    border-color: #023472; /* Muda a cor da borda ao focar */
    outline: none;
}
